@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans:ital,wght@0,700;1,400&family=Poppins:wght@300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-color: #011A27;
    --purple: #2E2A53;
    --dark-blue: #063852;
    --lime-green: #E6DF44;

    --white: #FFFFFF;


    --margin-bottom: 31px;
}


body {
    overflow-x: hidden;
}


/* hero section */
.hero {
    width: 100vw;
    height: 645px;
    background-color: #011A27;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    /* background-image: url('/images/Background-1.jpg'); */
    background-position: center;
    background-size: contain;
}


.hero .content {
    width: 1027px;
    height: 508.21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 144px 179px 0 192px;
}


.content h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: var(--margin-bottom);
}


.content h3 {
    font-size: 35px;
    line-height: 43px;
    font-weight: 900;
    letter-spacing: .1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: var(--margin-bottom);
}


.hero .content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: var(--margin-bottom);
}


button {
    width: 192px;
    height: 59px;
    border: none;
    color: var(--purple);
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .14em;
    outline: 2px solid var(--white);
    outline-offset: -5px;
}


.hero button {
    background-color: var(--lime-green);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, .5);
}


/* demos */

.demos-container {
    width: 100vw;
    height: 95px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--white);
}


.demos,
.logo,
.demo {
    margin-right: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.demo p {
    font-family: 'Praise', cursive;
    font-size: 24px;
    line-height: 28.8px;
}


.demos p {
    font-family: 'Sanchez', serif;
    font-size: 24px;
    line-height: 30.67px;
    font-weight: 400;
}


.logo {
    font-weight: 600;
    font-size: 24px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}



.logo p {
    margin-bottom: 0;
}


/* about-us */
.about-us {
    width: 100vw;
    display: flex;
    height: 620px;
    background-color: var(--white);
}


.about-us-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-top: 40px;
}


.about-us-text h4 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--purple);
}


.about-us-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: .1em;
    color: var(--purple);
}


.about-us-text h2 {
    font-size: 35px;
    line-height: 37px;
    letter-spacing: .1em;
    color: var(--purple);
    font-weight: 700;
}


.about-us button {
    background-color: var(--lime-green);
}


.about-us-img {
    position: relative;
}


.about-us-image {
    width: 491px;
    position: absolute;
    height: 336px;
    top: 110px;
    left: 80px;
    /* background-color: red;     */
    background-size: cover;
    background-position: center;
    border-radius: 500px;
    background-image: url('https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}   


.image-overlay {
    background-color: var(--dark-blue);
    width: 149px;
    height: 124px;
    position: absolute;
    bottom: 0;
    left: -10px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 55px 4px 9px 4px;
}


.image-overlay h5 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .14em;
    line-height: 30px;
    color: var(--white);
}



/* offer section */

.offer {
    height: 800px;
    min-width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(89.69deg, #063852 -6.09%, rgba(6, 56, 82, 0.89) 67.58%);
    color: var(--white);
    padding-top: 25px;
    padding-bottom: 22px;
}


.section-header {
    font-size: 35px;
    line-height: 37px;
    font-weight: 700;
    letter-spacing: .1em;
    /* text-align: center;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto; */
}


.section-subheader {
    font-size: 20px;
    font-weight: 400;
    line-height: 36.8px;
    letter-spacing: .11em;
}


.card-holder {
    display: flex;
    justify-content: space-between;
}


.card {
    width: 300px;
    height: 249px;
    border-radius: 0;
    background-color: var(--dark-blue);
    border: 1.04027px solid rgba(255, 255, 255, .5);
    text-align: center;
    padding-top: 84px;
}


.card:nth-child(n+4) {
    margin-top: 80px;
}


.card h2 {
    font-weight: 500;
    font-size: 23px;
    line-height: 32.66px;
    letter-spacing: .14em;
}


.card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .06em;
    max-width: 70%;
    text-align: center;
    margin: 11px auto;
}


/* switching */
.switching {
    width: 100vw;
    height: 880px;
    text-align: center;
    color: var(--purple);
    padding-top: 32px;
    background-color: var(--white);
}

.switching .section-header {
    max-width: 30%;
    text-align: center;
    margin: 0 auto;
}


.switch-card-holder {
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    min-width: 100vw;
    flex-wrap: wrap;
    width: 90%;
}


.tile {
    width: 322px;
    height: 249px;
    text-align: start;
    box-shadow: 0px 0px 10px var(--dark-blue);
}



.tile:nth-child(n+4) {
    margin-top: 80px;
}


.tile h2 {
    font-size: 23px;
    font-weight: 500;
    line-height: 132%;
    letter-spacing: -.0.05em;
}



/* media queries */
@media only screen and (max-width: 1125px ) {
    
}