@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans:ital,wght@0,700;1,400&family=Poppins:wght@300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-color: #011A27;
    --purple: #2E2A53;
    --dark-blue: #063852;
    --lime-green: #E6DF44;

    --white: #FFFFFF;

    
    --margin-bottom: 31px;
}


body {
    overflow-x: hidden;
}


/* hero section */
.hero {
    width: 100vw;
    height: 645px;
    background-color: #011A27;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}


.hero .content {
    width: 1027px;
    height: 508.21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 144px 179px 0 192px;
}


.content h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: var(--margin-bottom);
}


.content h3 {
    font-size: 35px;
    line-height: 43px;
    font-weight: 900;
    letter-spacing: .1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: var(--margin-bottom);
}


.hero .content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: var(--margin-bottom);
}


button {
    width: 192px;
    height: 59px;
    border: none;
    color: var(--purple);
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .14em;
    outline: 2px solid var(--white);
    outline-offset: -5px;
}


.hero button {
    background-color: var(--lime-green);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, .5);
}


/* demos */

.demos-container {
    width: 100vw;
    height: 95px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--white);
}


.demos,
.logo,
.demo {
    margin-right: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.demo p {
    font-family: 'Praise', cursive;
    font-size: 24px;
    line-height: 28.8px;
}


.demos p {
    font-family: 'Sanchez', serif;
    font-size: 24px;
    line-height: 30.67px;
    font-weight: 400;
}


.logo {
    font-weight: 600;
    font-size: 24px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}



.logo p {
    margin-bottom: 0;
}